apiVersion: apps/v1
kind: Deployment
metadata:
  name: dao-api-deployment-barnard
  labels:
    app: dao-api-barnard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dao-api-barnard
  template:
    metadata:
      labels:
        app: dao-api-barnard
    spec:
      containers:
        - name: dao-api-barnard
          image: ghcr.io/starcoinorg/starcoin_dao_api:sha-cd0647e
          ports:
            - containerPort: 8600
          env:
            - name: spring_profiles_active
              value: barnard
            - name: FORMAT_MESSAGES_PATTERN_DISABLE_LOOKUPS
              value: "true"
            - name: STARCOIN_MYSQL_URL
              value: "jdbc:mysql://starcoin-db-2.czftx6muneg7.ap-northeast-1.rds.amazonaws.com:3306/dao_api_dev?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC"
            - name: STARCOIN_MYSQL_USER
              value: "starcoin"
            - name: STARCOIN_MYSQL_PWD
              valueFrom:
                secretKeyRef:
                  name: mysql-pwd
                  key: password
            - name: STARCOIN_NETWORK
              value: "barnard"
            - name: STARCOIN_CHAIN_ID
              value: "251"
            - name: STARCOIN_SEEDS
              value: "barnard1.seed.starcoin.org,barnard2.seed.starcoin.org"
            - name: STARCOIN_JSON_RPC_URL
              value: "https://barnard-seed.starcoin.org"
            - name: SPRING_SECURITY_HTPASSWD
              valueFrom:
                secretKeyRef:
                  name: http-basic-auth
                  key: auth
            - name: INFURA_IPFS_API_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: infura-ipfs-api-secrets
                  key: apiEndpoint
            - name: INFURA_IPFS_PROJECT_ID
              valueFrom:
                secretKeyRef:
                  name: infura-ipfs-api-secrets
                  key: projectId
            - name: INFURA_IPFS_PROJECT_SECRET
              valueFrom:
                secretKeyRef:
                  name: infura-ipfs-api-secrets
                  key: projectSecret
            - name: STARCOIN_CHECKPOINT_UPDATE_ACCOUNT_ADDRESS
              valueFrom:
                secretKeyRef:
                  name: barnard-checkpoint-update-secrets
                  key: accountAddress
            - name: STARCOIN_CHECKPOINT_UPDATE_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: barnard-checkpoint-update-secrets
                  key: privateKey
