apiVersion: apps/v1
kind: Deployment
metadata:
  name: dao-api-deployment-dev
  labels:
    app: dao-api-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dao-api-dev
  template:
    metadata:
      labels:
        app: dao-api-dev
    spec:
      containers:
        - name: dao-api-dev
          image: ghcr.io/starcoinorg/starcoin_dao_api:sha-25da095
          ports:
            - containerPort: 8600
          env:
            - name: spring_profiles_active
              value: dev
            - name: FORMAT_MESSAGES_PATTERN_DISABLE_LOOKUPS
              value: "true"
            - name: STARCOIN_MYSQL_URL
              value: "jdbc:mysql://starcoin-db-2.c0bz9kehdvnb.ap-northeast-1.rds.amazonaws.com:3306/dao_api_dev?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC"
            - name: STARCOIN_MYSQL_USER
              value: "starcoin"
            - name: STARCOIN_MYSQL_PWD
              valueFrom:
                secretKeyRef:
                  name: mysql-pwd
                  key: password
            - name: STARCOIN_NETWORK
              value: "dev"
            - name: STARCOIN_CHAIN_ID
              value: "1"
            - name: STARCOIN_SEEDS
              value: "main4.seed.starcoin.org,main5.seed.starcoin.org"
            - name: STARCOIN_JSON_RPC_URL
              value: "https://main-seed.starcoin.org"
            - name: SPRING_SECURITY_HTPASSWD
              valueFrom:
                secretKeyRef:
                  name: http-basic-auth
                  key: auth
            - name: INFURA_IPFS_API_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: infura-ipfs-api-secrets
                  key: apiEndpoint
            - name: INFURA_IPFS_PROJECT_ID
              valueFrom:
                secretKeyRef:
                  name: infura-ipfs-api-secrets
                  key: projectId
            - name: INFURA_IPFS_PROJECT_SECRET
              valueFrom:
                secretKeyRef:
                  name: infura-ipfs-api-secrets
                  key: projectSecret
