server:
  port: 8600
  max-http-header-size: 102400
  compression:
    enabled: true
    min-response-size: 20480  #20K
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json,application/xml
  servlet:
    context-path: "/${STARCOIN_NETWORK}"

spring:
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${STARCOIN_MYSQL_URL}
    username: ${STARCOIN_MYSQL_USER}
    password: ${STARCOIN_MYSQL_PWD}
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimum-idle: 5 #minimum number of idle connections maintained by HikariCP in a connection pool
      maximum-pool-size: 20
      connection-test-query: SELECT 1
      idle-timeout: 500000 #maximum idle time for connection
      connection-timeout: 20000 #maximum number of milliseconds that a client will wait for a connection
      max-lifetime: 1800000 # maximum lifetime in milliseconds of a connection in the pool after it is closed.

  jpa:
    show-sql: false
    properties:
      hibernate:
        hbm2ddl:
          auto: none
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    open-in-view: false

  security:
    htpasswd: ${SPRING_SECURITY_HTPASSWD}


starcoin:
  json-rpc-url: ${STARCOIN_JSON_RPC_URL}
  chain-id: ${STARCOIN_CHAIN_ID}
  seeds: ${STARCOIN_SEEDS}
  network: ${STARCOIN_NETWORK}
  dao-sbt-resource-struct-tag-format: ${STARCOIN_DAO_SBT_RESOURCE_STRUCT_TAG_FORMAT}
  identifier-nft-sbt-value-bcs-path: ${STARCOIN_IDENTIFIER_NFT_SBT_VALUE_BCS_PATH}
  pulling-event-task-execute:
    fixed-delay: 20000
  pulling-event-task-auto-create:
    fixed-delay: 60000
  event-filter:
    addresses: 0x00000000000000000000000000000001
  dao:
    dao-created-event-type-tag: "0x00000000000000000000000000000001::GenesisDao::DaoCreatedEvent"
    member-join-event-type-tag: "0x00000000000000000000000000000001::GenesisDao::MemberJoinEvent"
    proposal-created-event-type-tag: "0x00000000000000000000000000000001::GenesisDao::ProposalCreatedEvent"
    voted-event-type-tag: "0x00000000000000000000000000000001::GenesisDao::VotedEvent"
